@model IEnumerable<MusicServiceInfrastructure.ViewModel.SongsViewModel>

@{
    ViewData["Title"] = "Пісні";
}

<br />
<h2>Пісні за виконавцем @ViewBag.Name</h2>
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GenreName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AlbumName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duration)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GenreName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AlbumName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Duration)
                </td>
            </tr>
        }
    </tbody>
</table>
<a href="javascript:history.back()" class="btn btn-dark">Повернутися назад</a>