@model IEnumerable<MusicServiceDomain.Model.Album>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<MusicServiceDomain.Model.User> SignInManager

@{
    ViewData["Title"] = "Альбоми";
}
<br />
<h2>Альбоми</h2>

<p>
    @if (SignInManager.IsSignedIn(User) && User.IsInRole("admin"))
    {
        <a asp-action="Create" class="btn btn-dark" role="button">Створити новий альбом</a>
    }
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReleaseYear)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.ReleaseYear)
            </td>
            <td>
                    @if (SignInManager.IsSignedIn(User) && User.IsInRole("admin"))
                    {
                        <button type="button" class="btn btn-outline-dark" onclick="location.href='@Url.Action("Edit", new { id = item.Id })'">Редагувати</button>
                        <button type="button" class="btn btn-secondary" onclick="location.href='@Url.Action("Delete", new { id = item.Id })'">Видалити</button>
                    }
             </td>
        </tr>
}
    </tbody>
</table>
