@model MusicServiceDomain.Model.Artist
@using Microsoft.AspNetCore.Identity
@inject SignInManager<MusicServiceDomain.Model.User> SignInManager

@{
    ViewData["Title"] = "Докладніше";
}
<br />
<h1>Докладніше</h1>
<div>
    <h4>Виконавець</h4>
    <hr />
    <div style="display: flex; align-items: center;">
        <div style="margin-right: 20px;">
            @if (Model.Image != null)
            {
                <img src="data:image/jpg;base64,@Convert.ToBase64String(Model.Image)" alt="Зображення" height="150">
            }
            else
            {
                <p>Зображення немає</p>
            }
        </div>
        <div>
            <dl class="row">
                <dt class="col-sm-5">
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd class="col-sm-7">
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <dt class="col-sm-5">
                    @Html.DisplayNameFor(model => model.BirthYear)
                </dt>
                <dd class="col-sm-7">
                    @Html.DisplayFor(model => model.BirthYear)
                </dd>
                <dt class="col-sm-5">
                    @Html.DisplayNameFor(model => model.Country)
                </dt>
                <dd class="col-sm-7">
                    @Html.DisplayFor(model => model.Country)
                </dd>
            </dl>
        </div>
    </div>

</div>
<br />
<div>
    <a asp-action="Index" class="btn btn-outline-dark">Повернутися до списку</a> |
    <a asp-action="SongsbyArtist" asp-route-id="@Model?.Id" class="btn btn-outline-secondary">Переглянути пісні</a> |
    <a asp-action="AlbumsbyArtist" asp-route-id="@Model?.Id" class="btn btn-outline-primary">Переглянути альбоми</a>
</div>